/* INVERTED SECTION */
section.inverted,
.bg-inverted {
  background-color: var(--base-inverted) !important;
  background-image: linear-gradient(to right bottom, var(--dark), var(--base-inverted));
  color: oklch(from var(--base-inverted) var(--l) 0 h) !important;

  p,
  ul,
  ol {
    color: var(--text-inverted) !important;
    padding: 10px;
  }

  ul>li,
  ol>li {
    color: var(--text-inverted) !important;
  }

  strong {
    color: var(--secondary) !important;
  }

  a {
    color: var(--primary);

    &:hover {
      color: var(--secondary);
      text-decoration: none;
    }
  }

  code:not(pre > code) {
    color: var(--text) !important;
    background-color: var(--neutral-200) !important;
  }

  marp-pre {
    background-color: var(--text);
    border: 1px solid var(--secondary) !important;
  }

  pre {
    border: 1px solid var(--secondary) !important;
  }

  mjx-container {
    color: var(--text-inverted) !important;
    background-color: var(--base-inverted) !important;
  }

  table {
    border-color: var(--base-inverted) !important;
    background-color: var(--base-inverted) !important;

    th {
      color: var(--secondary) !important;
      border-bottom: 2px solid var(--secondary) !important;
    }

    tr {
      color: var(--text-inverted);
      background-color: var(--base-inverted) !important;

      &:nth-child(even) {
        td {
          background: var(--slate-900) !important;
        }
      }
    }
  }

  &::after {
    color: var(--pagination-color) !important;
    background-color: var(--base-inverted);
  }

  .info {
    p {
      color: var(--azure-900) !important;
    }

    strong,
    b {
      color: var(--azure-600) !important;
    }
  }

  .warning {
    border-color: var(--yellow-100) !important;

    p {
      color: var(--yellow-900) !important;
    }

    strong,
    b {
      color: var(--yellow-600) !important;
    }
  }

  .info,
  .ok,
  .warning,
  .error,
  .danger,
  .primary,
  .secondary,
  .quote,
  .note,
  .tip {
    box-shadow: none !important;
  }
}

.bg-inverted {
  background-color: var(--base-inverted) !important;
  color: oklch(from var(--base-inverted) var(--l) 0 h) !important;
}