/*!
* @theme j2deme
* @author j2deme
* @auto-scaling fittingHeader, math
*/
@import "../src/styles/utilities.css";
@import "../src/styles/colors.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "default";

@import url(https://cdnjs.cloudflare.com/ajax/libs/Iosevka/6.0.0/iosevka/iosevka.min.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Color+Emoji);

/*@import "schema";
@import "structure";*/

:root {
  --base: #fcfcfc;
  --base-inverted: var(--neutral-800);
  --surface: #090d13;
  --overlay: #393552;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: var(--zinc-900);
  --text-inverted: var(--zinc-50);
  --love: var(--red-400);
  --sunset: var(--orange-400);
  --gold: var(--amber-400);
  --rose: var(--pink-400);
  --pine: var(--emerald-400);
  --lime: var(--lime-400);
  --foam: var(--blue-400);
  --plum: var(--purple-400);
  --highlight-low: #2a283e;
  --highlight-muted: #44415a;
  --highlight-high: #56526e;
  --current-line: var(--slate-200);
  --current-line-inverted: var(--slate-800);
  --primary: #2563eb;
  --secondary: #ebad25;

  --font-sans: Poppins, "Fira Sans", sans-serif, "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: Iosevka, "Iosevka Web", "Monaspace Krypton Var", "Victor Mono", "Fira Code", monospace;
  --font-comment: "Monaspace Radon Var", "Victor Mono", "Fira Code", monospace;

  font-family: var(--font-sans);
  font-weight: initial;
  background-color: var(--base);
}

/* HEADERS */
h1 {
  color: var(--primary);
  padding-bottom: -0.2rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

h2 {
  color: var(--neutral-800);
  margin-top: -0.7rem;
  margin-bottom: -0.4em;
  padding-bottom: 0.5em;
}

h3 {
  color: var(--primary);
  margin-top: -0.7rem;
  font-weight: bold;
}

h4 {
  color: var(--secondary);
  margin-top: -0.2em;
  margin-bottom: -0.2em;
}

h5 {
  color: var(--primary);
}

h6 {
  color: var(--secondary);
}

/* BASIC TAGS */
a[href^="mailto:"] {
  color: var(--primary);
  text-decoration: none;
}

a[href^="https://"],
a[href^="http://"] {
  color: var(--primary);
}

ul {
  padding-left: 1.5rem;
}

li {
  color: var(--text);
  font-family: inherit;
}

s {
  text-decoration: line-through;
  text-decoration-color: var(--secondary);
}

strong {
  color: var(--text);
  font-weight: inherit;
  font-weight: 800;
}

img {
  background-color: transparent;
}

p {
  font-weight: 500;
  color: var(--text);
}

code {
  color: var(--text-inverted);
  background-color: var(--highlight-low);
  font-size: 0.8em;
  padding: 0.1em 0.4em;
}

code,
pre {
  font-family: var(--font-mono);
  text-align: left;
  font-variant-ligatures: none;
  font-size: 0.75em;
  padding: 0.2em 0.4em;
}

text {
  color: var(--surface);
}

mjx-container {
  color: var(--text);
}

marp-pre {
  background-color: var(--surface);
  border-color: var(--zinc-600);
  border-width: 0.1em;
  border-style: outset;
}

svg[data-marp-fitting="svg"] {
  max-height: 580px;
}

pre code svg[data-marp-fitting="svg"] {
  max-height: calc(580px - 1em);
}

kbd {
  background-color: var(--slate-100);
  color: var(--text);
  font-family: var(--font-mono);
  border-color: var(--slate-500);
  border-radius: 0.2em;
  padding: 0.5rem 0.4rem;
  font-size: 80%;
  font-weight: bold;
  box-shadow: 0 0 0 0.1em var(--text-inverted);
}

mark {
  background-color: var(--yellow-200);
}

td true,
td false {
  background-color: transparent;
}

/* DEFINITION LIST */
dt {
  font-style: normal !important;
}

dt strong {
  color: var(--secondary)
}

dd {
  margin-bottom: 0.3rem;
  color: var(--text);
  font-style: normal !important;
  font-weight: 500 !important;
  padding-left: 0.7rem !important;
}

dd>ul {
  color: var(--subtle);
  list-style: none;
}

/* HEADER AND FOOTER */
header,
footer {
  font-family: var(--font-mono);
  font-size: 0.5em;
  color: inherit;
  display: flex;
}

section img.logo {
  position: absolute;
  width: 250px;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;
  color: #18396a;
  font-weight: bold;
}

footer a {
  color: var(--secondary);
}

footer a:hover {
  color: var(--primary);
  text-decoration: none;
  font-weight: bolder;
}

/* BLOCKQUOTE */
blockquote {
  padding: 0.3rem 0.3rem 0 0.5rem;
}

blockquote:not(:has(cite)) {
  border-left: 0.25em solid var(--primary);
}

blockquote p {
  font-size: x-large;
  color: var(--highlight-muted);
}

blockquote:has(cite) cite {
  border: none;
  font-size: 0.8rem;
  font-family: "Victor Mono", Noto Sans, cursive;
  font-style: italic;
}

section.primary blockquote:has(cite) p {
  font-size: 1.5rem;
}

section.primary blockquote:has(cite) cite {
  font-size: 1.0rem;
}

blockquote cite:before {
  content: "\2014 \00A0";
}

blockquote cite::after {
  content: "\00A0 \2014";
}

/* SECTION */
section {
  justify-content: flex-start;
  font-size: 28px;
}

section.centered {
  justify-content: center;
}

section :not(footer) a {
  color: var(--blue-600);
  text-decoration: underline;
}

section::after {
  content: attr(data-marpit-pagination) "/" attr(data-marpit-pagination-total);
  font-family: var(--font-mono);
  font-size: 0.6em;
}

section li+li {
  margin-top: 0.17rem;
}

/* UNORDERED LISTS */
ul:not([type]) {
  color: var(--subtle);
  list-style: none;
}

ul:not([type])>li {
  color: var(--text);
  padding-left: 0.3em;
}

ul:not([type])>li::marker,
ul:not([type])>li>ul:not([type])>li::marker {
  content: "\2023";
  display: inline-block;
  font-weight: bolder;
  font-size: larger;
  width: 0.7em;
}

ul:not([type])>li::marker,
ul:not([type])>li>ul:not([type])>li>ul:not([type])>li::marker {
  color: var(--secondary);
}

ul:not([type])>li>ul:not([type])>li::marker {
  color: var(--primary);
}

/* ORDERED LISTS */
ol li::marker,
ol li>ol li::marker,
ol li>ol li>ol li::marker {
  font-weight: bold;
  width: 0.7em;
  margin-left: -1em;
  padding-right: 0.2rem;
}

ol li::marker,
ol li>ol li>ol li::marker {
  color: var(--secondary);
}

ol li>ol li::marker {
  color: var(--primary);
}

section ul>li>ol {
  list-style: number;
}

section ul>li>ol>li::marker {
  color: var(--primary);
}

/* SECTION HEADERS */
section:first-of-type h1 {
  position: relative;
  top: -10px;
  padding-bottom: 10px;
}

section:has(h1+h2) h1 {
  margin-bottom: 5px;
}

section:has(h1+h2) h2 {
  position: relative;
  top: -25px;
  padding-bottom: 0;
}

section:has(h1+h2+h3) h2 {
  position: relative;
  top: -25px;
  padding-bottom: 0;
}

section:has(h1+h2+h3) h3 {
  position: relative;
  top: -55px;
  text-align: right;
  padding-bottom: 5px;
  margin-bottom: -35px;
}

/* TOC SECTION */
section.toc h1 {
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

section.toc ol {
  counter-reset: items;
  padding-left: 3.5em;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  list-style: none;
}

section.toc ol>li {
  counter-increment: items;
}

section.toc li+li {
  margin-top: 0;
}

section.toc ol>li:nth-child(n)::marker {
  content: "0" counter(items) " ";
}

section.toc ol>li:nth-child(n + 10)::marker {
  content: counter(items) " ";
}

section.toc ol>li::marker {
  color: var(--primary);
  font-weight: 800;
  font-size: 1.5rem;
  font-family: var(--font-mono);
}

section.toc ol>li>a {
  text-decoration: none;
  color: var(--text);
}

/* LEAD SECTION */
section.lead {
  justify-content: center;
  text-align: center;
}

section.lead h1 {
  background-color: var(--primary);
  background-image: url("../src/assets/pattern.svg");
  background-blend-mode: overlay;
  color: var(--base);
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  border-radius: 0.2em;
  font-weight: bolder;
}

/* PRIMARY SECTION */
section.primary {
  background-color: var(--primary);
  color: var(--text-inverted);
}

section.primary :not(footer) a {
  font-family: var(--font-mono);
  font-size: 1.3em;
  background-color: var(--base);
  padding: 10px 10px;
  border-radius: 10px;
}

section.primary footer a,
section.primary::after {
  color: var(--text-inverted);
}

section.primary blockquote,
section.primary blockquote p {
  border: none;
  color: var(--text-inverted);
}

section.primary table td {
  color: var(--text);
}

section.primary ul>li {
  color: var(--text-inverted);
}

/* SECONDARY SECTION */
section.secondary {
  background-color: var(--secondary);
  color: var(--zinc-900);
}

section.secondary ul>li::before {
  color: var(--text-inverted);
}

/* PRIMARY & SECONDARY SECTION */
section.primary.centered,
section.secondary.centered {
  text-align: center;
}

section.primary h1,
section.secondary h1 {
  color: inherit;
}

section.primary footer strong,
section.secondary footer strong {
  text-shadow: var(--text-inverted) 0 0 5px;
}

/* DARK & LIGHT HEADER */
section.dark h1 {
  color: var(--zinc-900);
}

section.light h1 {
  color: var(--text-inverted);
}

/* INVERTED SECTION */
section.inverted {
  background-color: var(--surface);
  color: var(--text-inverted);
}

section.inverted h2,
section.inverted p,
section.inverted ul>li,
section.inverted ol>li,
section.inverted mjx-container {
  color: var(--text-inverted);
}

section.inverted strong,
section.inverted a:hover {
  color: var(--secondary);
  text-decoration: none;
}

section.inverted a {
  color: var(--primary);
}

section.inverted marp-pre {
  background-color: var(--text);
  border-color: var(--secondary);
}

/* PATTERN */
.pattern,
section.pattern {
  background-image: url("../src/assets/pattern.svg");
  background-size: 205px;
  background-repeat: repeat;
  background-blend-mode: screen;
}

section.pattern h1,
section.pattern ul,
section.pattern p {
  background-color: transparent;
  backdrop-filter: blur(3.5px);
  border-radius: 0.5rem;
}

.bg-primary.pattern,
.bg-secondary.pattern,
section.primary.pattern,
section.secondary.pattern {
  background-blend-mode: color-burn;
}

/* TABLE */
section table {
  margin: 0 auto;
  align-self: center;
  font-size: 26px;
  border-collapse: collapse;
  border-radius: 0.5rem;
  border-spacing: 0;
  margin-bottom: 0.5rem;
}

section table th,
section table td,
section table tr {
  border: none;
}

section table th {
  text-align: center !important;
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
  padding-left: 1rem;
  padding-right: 1rem;
}

section table tr:nth-child(even) td {
  background-color: var(--zinc-100);
}

section table tr:last-child,
section.inverted table tr:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}

/* INVERTED TABLE */
section.inverted table th,
section.secondary table th {
  color: var(--secondary);
  border-bottom: 2px solid var(--secondary);
}

section.inverted table tr {
  color: var(--text-inverted);
  background-color: var(--surface) !important;
}

section.inverted table tr:nth-child(even) td {
  background: var(--zinc-900);
}

/* CUSTOM TAGS & CLASSES */
.font-coding {
  font-family: var(--font-mono);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-inverted {
  background-color: var(--surface);
}

true {
  color: var(--emerald-600);
}

false {
  color: var(--red-500);
}

note {
  color: var(--rose-800);
  font-weight: bold;
}

p:has(note+em) em {
  font-size: medium;
  text-align: right;
}

/* CUSTOM COLORED BLOCKS */
div.info,
div.ok,
div.warning,
div.error,
div.primary,
div.secondary,
div.quote,
div.note {
  background-blend-mode: soft-light;
  background-clip: padding-box;
  background-position: 102% -15px;
  background-repeat: no-repeat;
  background-size: 2.9rem;
  border-left-style: solid;
  border-left-width: 0.25em;
  border-radius: 0 0.3rem 0.3rem 0;
  box-shadow: 0 0 0 0.1em var(--text-inverted);
  font-size: smaller;
  justify-self: flex-end;
  margin-bottom: 0.3rem;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
}

div.primary {
  border-left-color: var(--primary);
}

div.secondary {
  border-left-color: var(--secondary);
}

div.note {
  border-left-color: var(--rose-800) !important;
  background-color: var(--rose-50);
  background-image: url("../src/assets/Icons/asterisk.svg");
  background-blend-mode: darken;
  background-size: 1.5rem;
  background-position-x: 99%;
  background-position-y: 3%;
  min-width: 50%;
  width: 80%;
  position: fixed;
  left: 10%;
  top: 87%;
  margin-bottom: 0 !important;
  padding: 0.15rem 0.5rem 0.15em 0.5rem;
}

div.note p {
  max-width: 95%;
  margin-bottom: 0;
  font-size: 0.8rem;
}

div.ok {
  border-left-color: var(--green-500);
  background-color: var(--green-100);
  background-image: url("../src/assets/Icons/check-circle.svg");
}

div.warning {
  border-left-color: var(--amber-500);
  background-color: var(--amber-100);
  background-image: url("../src/assets/Icons/warning.svg");
}

div.error {
  border-left-color: var(--red-500);
  background-color: var(--red-100);
  background-image: url("../src/assets/Icons/warning-circle.svg");
}

div.info {
  border-left-color: var(--blue-500);
  background-color: var(--blue-100);
  background-image: url("../src/assets/Icons/info.svg");
}

div.ok p,
div.warning p,
div.error p,
div.info p {
  max-width: 95%;
}

div.quote {
  border-left-color: var(--gray-600);
  background-color: var(--gray-100);
  padding: auto;
  font-size: x-large;
  padding: 0.3rem 0.3rem 0 0.5rem;
  background-image: url("../src/assets/Icons/quotes.svg");
  background-position-x: 100%;
  background-position-y: -10px;
}

div.quote p {
  font-size: inherit;
  color: var(--highlight-muted);
  padding-left: 10px;
}

div.quote blockquote {
  border: none;
}

div.quote:has(cite) cite {
  border: none;
  font-size: 0.8rem;
  font-family: "Victor Mono", Noto Sans, cursive;
  font-style: italic;
}

div.quote cite:before {
  content: "\2014 \00A0";
}

div.quote cite::after {
  content: "\00A0 \2014";
}

/* CODE BLOCK */
.hljs-comment {
  font-family: var(--font-comment);
  color: var(--subtle);
  font-style: italic;
}

.hljs-regexp {
  color: var(--rose);
}

.hljs-punctuation {
  color: var(--subtle);
}

.hljs-string {
  color: var(--gold);
}

.hljs-title {
  color: var(--foam);
}

.hljs-attr,
.hljs-attribute {
  color: var(--love);
}

.hljs-keyword {
  color: var(--pine);
}

.hljs-variable,
.hljs-template-variable,
.hljs-subst {
  color: var(--text-inverted);
}

.hljs-literal {
  color: var(--rose);
}

.hljs-type {
  color: var(--love);
}

.hljs-number {
  color: var(--foam);
}

.hljs-built_in {
  color: var(--sunset);
}

.hljs-params {
  color: var(--plum);
}

.hljs-symbol {
  color: var(--foam);
}

.hljs-meta {
  color: var(--subtle);
}

.hljs-name {
  color: var(--foam);
}

.hljs-addition {
  color: var(--pine);
  /*background-color: #eaffea;*/
}

.hljs-deletion {
  color: var(--rose);
  /*background-color: #ffecec;*/
}

.hljs-addition,
.hljs-deletion {
  background-color: transparent;
}

.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: var(--gold);
}

.hljs-selector-tag {
  color: var(--sunset);
}

.hljs-type {
  color: var(--love);
}

.hljs-bullet {
  color: var(--foam);
}

.hljs-section {
  color: var(--pine);
}

.hljs-tag {
  color: var(--text-inverted);
}

.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: var(--plum);
}

.hljs-link {
  text-decoration: underline;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-params,
.hljs-emphasis {
  font-style: italic;
}

/* JAVA CODE BLOCK CUSTOMIZATION */
section code.language-java .hljs-operator {
  color: var(--blue-400);
}

/* JS CODE BLOCK CUSTOMIZATION */
section code.language-js .hljs-variable.language_ {
  color: var(--sunset);
}

/* PHP CODE BLOCK CUSTOMIZATION */
code.language-php .hljs-meta {
  color: var(--foam);
}

code.language-php .hljs-variable {
  color: var(--sunset);
}

code.language-php .hljs-subst {
  color: var(--rose);
}

code.language-php .hljs-built_in {
  color: var(--plum);
}

/* MARKDOWN CODE BLOCK CUSTOMIZATION */
code.language-md .hljs-strong {
  color: var(--love);
}

code.language-md .hljs-emphasis {
  color: var(--sunset);
}

code.language-md .hljs-code {
  color: var(--plum);
}

code.language-md .hljs-link {
  color: var(--lime);
}

code.language-md .hljs-quote {
  color: var(--rose);
}

/* CODE BLOCK LINE NUMBERING */
pre ol {
  all: unset;
  display: grid;
  grid-template-columns: auto 1fr;
  counter-reset: line-number 0;
}

pre ol li {
  display: contents;
  color: var(--text-inverted);
}

pre ol li span[data-marp-line-number]::before {
  display: block;
  color: var(--gray-600);
  content: counter(line-number) " ";
  counter-increment: line-number;
  text-align: right;
}

/* SHIKI */
.shiki.material-theme-darker {
  background-color: var(--neutral-900) !important;
}

.shiki>code {
  counter-reset: step;
  counter-increment: step 0;
}

.shiki>code .line {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  padding: 0.1rem -1rem;
  counter-increment: step;
}

.shiki>code .line::before {
  content: counter(step);
  width: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  text-align: right;
  color: var(--neutral-400)
}

.shiki>code .line:last-child {
  display: none;
  counter-increment: none;
}

.shiki>code[v-pre] {
  display: flex;
  flex-direction: column;
}

.shiki .line.highlighted {
  background: var(--gray-700);
  display: inline-block;
  width: 100%;
  border-radius: 0.1rem;
  padding-left: -0.2rem;
  padding-right: 0.1rem;
}

.shiki>code .line.highlighted::before {
  color: var(--neutral-100);
}